/* 去除边框，留左边框 && 表格内容居中 && 行高 */
.ant-table-tbody>tr>td,
.ant-table-thead>tr>th {
    text-align: center !important;
    padding: 12px 12px !important;
}
/* 奇数行 */
.table-color-odd {
    background-color: rgb(210, 218, 218);
}

/* 偶数行 */
.table-color-even {
    background-color: rgb(99, 165, 165);
}